<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Appointment</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="container">
      <h1>Book An Appointment</h1>
      <p>Please let us know what we can do for you</p>

      <!-- CREATE FORM -->
      <form id="appointmentForm" method="POST">
        <div class="form-group">
          <label>First Name</label>
          <input name="firstName" />
        </div>

        <div class="form-group">
          <label>Last Name</label>
          <input name="lastName" />
        </div>

        <div class="form-group">
          <label>Age</label>
          <input type="number" name="age" />
        </div>

        <button type="submit">Submit</button>
      </form>
    </div>

    <script src="/javascripts/index.js"></script>
  </body>
</html>
